@page
@model training_health_medical_app.Pages.Surveys.CreateModel

@{
    ViewData["Title"] = "Create";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">Survey</h2>
                    <hr />

                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-group">
                            <label asp-for="Survey.Mood" class="control-label">How would you describe your current mood?</label>
                            <input asp-for="Survey.Mood" class="form-control" />
                            <span asp-validation-for="Survey.Mood" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Survey.Appetite" class="control-label">Have you experienced any significant changes in your appetite recently (increase or decrease)?</label>
                            <input asp-for="Survey.Appetite" class="form-control" />
                            <span asp-validation-for="Survey.Appetite" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Survey.Feelings" class="control-label">Are you experiencing feelings of sadness or hopelessness that persist over time?</label>
                            <input asp-for="Survey.Feelings" class="form-control" />
                            <span asp-validation-for="Survey.Feelings" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Survey.Interest" class="control-label">Have you experienced a loss of interest in activities that once brought you pleasure?</label>
                            <input asp-for="Survey.Interest" class="form-control" />
                            <span asp-validation-for="Survey.Interest" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Survey.Sleep" class="control-label">Have you noticed a change in your sleep patterns, such as difficulty falling asleep or waking up frequently during the night?</label>
                            <input asp-for="Survey.Sleep" class="form-control" />
                            <span asp-validation-for="Survey.Sleep" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Survey.PhysicalSymptom" class="control-label">Are you experiencing physical symptoms such as headaches or stomachaches without a clear medical cause?</label>
                            <input asp-for="Survey.PhysicalSymptom" class="form-control" />
                            <span asp-validation-for="Survey.PhysicalSymptom" class="text-danger"></span>
                        </div>

@*                        <div class="form-group">
                            <label asp-for="Survey.Treatment" class="control-label">Are you currently undergoing any medical treatment for your condition?</label>
                            <input asp-for="Survey.Treatment" class="form-control" />
                            <span asp-validation-for="Survey.Treatment" class="text-danger"></span>
                        </div>*@

                        <div class="form-group">
                            <label asp-for="Survey.PlayerID" class="control-label">Player Name</label>
                            <select asp-for="Survey.PlayerID" class="form-control" asp-items="@(new SelectList(Model.Players, "ID", "Name"))">
                                <option value="">-- Select Player --</option>
                            </select>
                            <span asp-validation-for="Survey.PlayerID" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block">Create</button>
                        </div>
                    </form>

                    <div class="text-center">
                        <a asp-page="Index" class="text-muted">Back to List</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
